*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: GothamBook;
  font-size: 15px;
  color: #222222;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
    max-width: 1200px;
    margin: auto;
}
.header{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: white;
}
.header-container{
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.nav-header ul{
    padding: 0;
    font-family: 'MyriadPro';
    font-size: 20px;
    display: flex;
    list-style: none;
    height: 115px;
    align-items: center;
}
.nav-header li{
    padding: 41px 25px 40px 25px;
    text-align: center;
}
.nav-header li.active{
    border-bottom: 5px solid #11749e;
}
.header__burger,.header-nav-close{
    display: none;
}

@media screen and (max-width: 1028px){
    .header__burger {
        width: 30px;
        height: 20px;
        display: block;
        position: relative;
        z-index: 3;
        margin-right: 40px;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 30px;
        height: 2px;
        top: 9px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active span {
        display: none;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 0;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .header__burger.active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px;
        width: 40px;
        height: 3px;
    }
    .header__burger.active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 9px;
        width: 40px;
        height: 3px;
    }

    .header__burger:after {
        top: 18px;
    }
    .nav-header {
        z-index: 2;
        width: 100%;
        background-color: #222222;
        position: absolute;
        top: -600px;
        left: 0;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        text-align: center;
    }
    .nav-header.active {
        top: 0%;
    }
    .nav-header ul{
        margin-top: 25px;
        margin-bottom: 25px;
        display: block;
        height: fit-content;
        font-size: 25px;
    }
    .nav-header li{
        height: 50px;
    }
    .nav-header li.active{
        border: 0;
    }
}

.social ul {
    padding: 0;
    display: flex;
    list-style: none;
}
.social li {
    margin-right: 20px;
    font-size: 20px;
}

.section-creatives{
    background-image: url(../img/header-background.png);
    background-size: cover;
    height: 100vh;
}

.section-creatives {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.creatives-content h1{
    font-family: Gotham;
    font-size: calc(120 * (100vw / 1200));
    text-transform: uppercase;
}
.creatives-content h2{
    color: #11749e;
    font-family: GothamMedium;
    font-size: calc(24 * (100vw / 1200));
    letter-spacing: calc(23 * (100vw / 1200));
    text-transform: uppercase;
}
.creatives-scroll{
    font-size: 15px;
    font-family: OpenSans;
}
.creatives-scroll-arrow {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    padding-top: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    animation: move 0.7s linear alternate infinite;
}
@keyframes move {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0px, 10px, 0);
    }
}

.section-about_agency{
    background-color: #11749e;
    text-align: center;
    color: white;
    padding-top: 150px;
    padding-bottom: 70px;
}
.hTitle{
    text-align: center;
    font-size: 50px;
    font-family: GothamMedium;
    text-transform: uppercase;
}
.BigWord:before{
    content: "W";
    position: absolute;
    left: 0;
    right: 0;
    font-size: 300px;
    font-family: RobotoBold;
    color: white;
    opacity: 0.2;
    line-height: 0.27;
}
.section-about_agency-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
}
.section-about_agency-feature{
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

.circle_with_icon{
    width: 110px;
    height: 110px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 100%;
    margin: auto;
    padding-top: 38px;
}
.section-about_agency-feature h3{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    font-family: 'GothamMedium';
}

@media screen and (max-width: 1000px){
    .section-about_agency-feature{
        width: 50%;
        margin-bottom: 50px;
    }
    .hTitle{
        font-size: calc(40 * (100vw / 1200));
    }
    .section-about_agency:before{
        font-size: calc(386 * (100vw / 1200));
    }
    .section-about_agency{
        padding-bottom: 40px;
    }
    
}

@media screen and (max-width: 600px){
    .section-about_agency-feature{
        width: 100%;
        margin-bottom: 50px;
    }
    .hTitle{
        font-size: calc(60 * (100vw / 1200));
    }
    .section-about_agency:before{
        font-size: calc(586 * (100vw / 1200));
    }
    
}


.news{
    display: flex;
    align-items: center;
}
.news.news-left{
    background-color: #222222;
    color: white;
}
.news.news-right{
    background-color: #f3f3f3;
    color: #222222;
}
.news .news-text{
    margin-left: calc((100vw - 1200px) / 2);
    width: calc(100vw/2 - (100vw - 1200px) / 2);
    padding-right: 80px;
}
.news.news-right .news-text{
    margin-right: calc((100vw - 1200px) / 2);
    padding-left: 80px;
    margin-left: 0;
    padding-right: 0;
}
.news .news-text time{
    font-family: 'GothamBook';
    font-size: 13px;
}
.news .news-text h3{
    font-family: 'GothamMedium';
    font-size: 25px;
    margin-bottom: 26px;
    margin-top: 6px;
}
.news .news-text p{
    font-family: 'GothamBook';
    font-size: 15px;
}
.news img{
    width: 50%;
}

@media screen and (max-width: 1220px){
    .news .news-text{
        margin-left: 10px;
        width: 50vw;
    }
    .news.news-right .news-text{
        padding-right: 20px;
        margin-right: 0;
    }
}
@media screen and (max-width: 930px){
    .news{
        flex-direction: column;
    }
    .news img {
        width: 100%;
    }
    .news .news-text {
        margin-left: 0px;
        width: 100%;
        padding: 20px;
    }
    .news.news-right .news-text {
        padding: 20px;
    }
    .news.news-right {
        flex-direction: column-reverse;
    }
    
}

.section-blog.BigWord::before{
    content: "B";
    color: #222222;
}
.section-blog{
    background-color: white;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
}
.section-blog h3{
    font-family: GothamBook;
    font-size: 30px;
    margin-top: 110px;
    margin-bottom: 60px;
}
.section-blog-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-blog-wrapper .section-blog-item{
    width: 25%;
    padding: 15px;
    margin-bottom: 50px;

}
.section-blog-wrapper .section-blog-item img{
    width: 100%;
}
.section-blog-wrapper .section-blog-item h4{
    font-family: GothamMedium;
    font-size: 18px;
    color: #11749e;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
}
.section-blog-wrapper .section-blog-item p{
    font-family: GothamBook;
    font-size: 15px;
}

@media screen and (max-width: 1000px){
    .section-blog-wrapper .section-blog-item{
        width: 50%;
    }
}
@media screen and (max-width: 600px){
    .section-blog-wrapper .section-blog-item{
        width: 100%;
    }
}

.section-quick-action{
    padding: 70px 20px;
    color: white;
    background-color: #11749e;
}
.section-quick-action-item-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.section-quick-action .section-quick-action-item{
    width: 50%;
    display: flex;
    align-items: center;
}
.section-quick-action .section-quick-action-item img{
    margin-right: 30px;
}
.section-quick-action .section-quick-action-item p{
    font-size: 15px;
    font-family: GothamBook;
    padding-right: 50px;
}
@media screen and (max-width: 1000px){
    .section-quick-action .section-quick-action-item{
        width: 100%;
    }
    .section-quick-action .section-quick-action-item:first-child{
        margin-bottom: 60px;
    }
}

.section-key_feature{
    color: white;
    background-image: url("../img/contact-background.png");
    padding: 100px 20px ;
}
.section-key_feature .container{
    display: flex;
    align-items: center;
}
.section-key_feature .content{
}
.section-key_feature .content h3{
    font-family: "GothamMedium";
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.section-key_feature .content p{
    font-family: GothamBook;
    font-size: 15px;
    margin-bottom: 60px;
    width: 60%;
}
.section-key_feature .content .button{
    width: 400px;
    font-family: "GothamMedium";
    font-size: 15px;
    background-color: #11749e;
    border: 0;
    color: white;
    padding: 10px 20px;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
}
.section-key_feature .content .button:first-of-type{
    width: 370px;
}
.section-key_feature .content .button:last-of-type{
    width: 430px;
}
@media screen and (max-width: 900px){
    .section-key_feature .phone{
        display: none;
    }
}